.add-property {
    padding: 80px 0;
    min-height: calc(100vh - 130px);
}
.property-form {
    border: 1px solid #eee;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.02);
    padding: 35px 45px;
    h2 {
        margin-bottom: 25px;
        font-size: 1.5rem;
    }
    .buttons {
        margin-top: 35px;
    }
}