<div class="add-property">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <mat-horizontal-stepper>
          <mat-step>
            <ng-template matStepLabel>Add Property</ng-template>
            <div class="property-form">
              <h2>Property Information</h2>
              <form action="javascript: void(0)">
                <div class="row">
                  <div class="col form-group">
                    <input type="text" placeholder="Name" class="form-control">
                  </div>
                  <div class="col form-group">
                    <input type="text" placeholder="Name" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Company Name" class="form-control">
                </div>
                <div class="buttons text-right">
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Sub Propertys</ng-template>
            <div class="property-form">
              <h2>Sub Property</h2>
              <form action="javascript: void(0)">
                <div class="form-group">
                  <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input type="text" placeholder="Carpet Area" class="form-control">
                  </div>
                  <div class="col form-group">
                    <input type="text" placeholder="Availability Number" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input type="text" placeholder="Min Price" class="form-control">
                  </div>
                  <div class="col form-group">
                    <input type="text" placeholder="Max Price" class="form-control">
                  </div>
                </div>
                <div class="add-btn">
                  <button class="btn btn-link">Add More</button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="property-form">
              <p>Please verify information and click to submit button bellow.</p>
              <div class="buttons text">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
