.or-text {
    position: relative;
    text-align: center;
    margin: 15px 0;
}
.or-text span {
    background: #fff;
    padding: 0 10px;
    z-index: 1;
    position: relative;
}
.or-text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid #ddd;
}
.create-account {
    margin-top: 8px;
    font-size: 0.8rem;
}