<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form action="javascript: void(0)" (ngSubmit)="login()">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="buttons">
      <button class="btn btn-primary btn-block">Login</button>
      <div class="create-account text-center">
        New user ? <a href="#">Create account</a>
      </div>
    </div>
    <div class="or-text">
      <span>OR</span>
    </div>
    <button class="btn btn-danger btn-block">Login with Google+</button>
  </form>
</mat-dialog-content>