.header {
    background: #132b51;
    padding: 18px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
}
.nav {
    .nav-link {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
    }
    .btn {
        margin-left: 10px;
    }
    .btn-primary {
        background: #30caa0;
        border-color: #30caa0;
        text-transform: uppercase;
        font-size: 13px;
    }
    .btn-success {
        background: #fff;
        border-color: #fff;
        color: #222;
    }
}
.logo {
    img {
        max-height: 35px;
    }
}