<div class="header">
  <div class="container">
    <div class="row">
      <div class="logo col col-sm-4">
        <a href="#"><img src="assets/images/logo.png" alt=""></a>
      </div>
      <div class="col-sm-8">
        <ul class="nav float-right">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="whyvr">Why VR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="projects">Listed Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" fragment="contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="javascript: void(0)" (click)="openLoginPopup()">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="#">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>