<div class="properties-list">
  <div class="container">
    <h1>Property Listed in your account</h1>
    <div class="row">
      <div class="col-sm-4" *ngFor="let items of propertyList">
        <div class="property-box">
          <div class="image"><img src="assets/images/service.jpg" class="img-fluid" alt=""></div>
          <div class="details">
            <div class="location-developer">
              <div class="row">
                <div class="col">
                  <div class="location">
                    <h5>Lodha Splendora</h5>
                    <small>Thane West, Mumbai</small>
                  </div>
                </div>
                <div class="col text-right">
                  <h4>$ 54,000 L - $ 1.02 Cr</h4>
                  <div class="developer">
                    Lodha Group
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-12">
                <div class="information">
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="possession">
                  Possession started from: OCT'19
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <div class="status">
                  16.4% / <small>62 month</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>