<div class="profile-details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-3 col-12">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step>
            <ng-template matStepLabel>Update Profile</ng-template>
            <div class="profile-form">
              <h2>Update Profile</h2>
              <form action="javascript: void(0)">
                <div class="row">
                  <div class="col form-group">
                    <input type="text" placeholder="First Name" class="form-control">
                  </div>
                  <div class="col form-group">
                    <input type="text" placeholder="Middle Name" class="form-control">
                  </div>
                  <div class="col form-group">
                    <input type="text" placeholder="Last Name" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Company Name" class="form-control">
                </div>
                <div class="buttons text-right">
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Update Password</ng-template>
            <div class="profile-form">
              <h2>Change Password</h2>
              <form action="javascript: void(0)">
                <div class="form-group">
                  <input type="password" placeholder="Current Password" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="New Password" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Confirm Password" class="form-control">
                </div>
                <div class="buttons text-right">
                  <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
              </form>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </div>
    </div>
  </div>
</div>
