<div class="property-details">
  <div class="container">
    <h1>Property Detail</h1>
    <div class="sample-list">
      <div class="row">
        <div class="col col-sm-6">
          <div class="card">
            <img src="assets/images/service.jpg" class="card-img-top">
            <div class="card-body">
              <h5>Sample Flat 1BHK</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col col-sm-6">
          <div class="card">
            <img src="assets/images/service.jpg" class="card-img-top">
            <div class="card-body">
              <h5>Sample Flat 1BHK</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col col-sm-6">
          <div class="card">
            <img src="assets/images/service.jpg" class="card-img-top">
            <div class="card-body">
              <h5>Sample Flat 1BHK</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col col-sm-6">
          <div class="card">
            <img src="assets/images/service.jpg" class="card-img-top">
            <div class="card-body">
              <h5>Sample Flat 1BHK</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>