.banner-section {
    margin-top: 70px;
    padding: 250px 0;
    color: #fff;
    border-top: 1px solid #fff;
    background: url(/assets/images/bg.jpg) 50% 50% no-repeat;

    h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .btn {
        padding: 10px 30px;
        min-width: 170px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        background: #30caa0;
        border-color: #30caa0;
    }
}
.search-box {
    padding: 30px;
    background: #30caa0;
    border-radius: 5px;
    margin-top: -50px;
    height: 100px;
    .form-control {
        border:none;
        border-radius: 2px;
        height: 45px;
    }
    .btn {
        border:none;
        height: 45px;
        border-radius: 2px;
        font-weight: bold;
        text-transform: uppercase;
        background: #222;
    }
}
.search-filter {
    margin: 0 0 50px;
}

.about-section {
    padding: 20px 0 60px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 42px;
        font-weight: 700;
    }
    p {
        color: #888;
        line-height: 1.7;
        font-size: 15px;
    }
    h4 {
        color: #30caa0;
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.why-vr {
    padding: 80px 0;
    background: rgba($color: #000000, $alpha: 0.03);
    h2 {
        margin-bottom: 40px;
        font-size: 34px;
        font-weight: 700;
    }
    p {
        color: #888;
        line-height: 1.5;
        font-size: 15px;
    }
}
.project-section {
    padding: 80px 0;
    h2 {
        margin-bottom: 40px;
        font-size: 34px;
        font-weight: 700;
    }
    p {
        color: #888;
        line-height: 1.5;
        font-size: 15px;
    }
}
.property-box {
    border:1px solid #ededed;
    .image {
        margin-bottom: 15px;
    }
    .details {
        padding:  0 15px 15px;
    }
    .location-developer {
        margin-bottom: 15px;
        h5 {
            font-size: 15px;
            font-weight: bold;
            margin: 0;
        }
        small {
            color: #777;
        }
        h4 {
            font-size: 14px;
            margin: 0;
        }
        .developer {
            color: #30caa0;
        }
    }
    .information {
        font-size: 13px;
        color: #999;
        margin-bottom: 15px;
        .row {
            padding-top: 6px;
            padding-bottom: 6px;
            border-top: 1px solid #efefef;
            &:last-child {
                border-bottom: 1px solid #efefef;
            }
        }
    }
    .status {
        font-size: 12px;
        color: #999;
        line-height: 1;
    }
    .possession {
        font-size: 11px;
        color: #222;
        line-height: 1;
        display: inline-block;
        background: #eee;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
.contact-section {
    padding: 80px 0;
    background: rgba($color: #000000, $alpha: 0.03);
    h2 {
        margin-bottom: 40px;
        font-size: 34px;
        font-weight: 700;
    }
    iframe {
        margin: 0 0 15px;
        border: 1px solid #ddd;
        background: #fff;
        padding: 5px;
        width: 100%;
    }
}
.contact-form {
    margin-top: 25px;
    h4 {
        margin-bottom: 25px;
    }
    .btn-primary {
        background: #30caa0;
        border-color: #30caa0;
    }
}
.address {
    font-size: 14px;
    color: #777;
    line-height: 2;
    .fa {
        width: 20px;
    }
    h4 {
        color: #222;
    }
}