<div class="banner-section">
  <div class="container text-center">
    <h2>YOUR VR REAL ESTATE SALES TOOL</h2>
    <div class="button-box">
      <a class="btn btn-primary" href="#">Register</a>
    </div>
  </div>
</div>
<div class="search-filter">
  <div class="container">
    <div class="search-box">
      <div class="row">
        <div class="col col-sm-4">
          <input type="text" class="form-control" placeholder="Enter a street name, address or keyword">
        </div>
        <div class="col col-sm-3">
          <select placeholder="Select state" class="form-control">
            <option>Gujarat</option>
          </select>
        </div>
        <div class="col col-sm-3">
          <select placeholder="Select state" class="form-control">
            <option>Gujarat</option>
          </select>
        </div>
        <div class="col col-sm-2">
          <input type="submit" class="btn btn-primary btn-block" value="Search">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-section" id="about">
  <div class="container">
    <h2>About Us</h2>
    <div class="row">
      <div class="col">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset.</p>
      </div>
      <div class="col">
        <h4>Heading goes here</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been.</p>
        <h4>Heading goes here</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been.</p>
      </div>
    </div>
  </div>
</div>
<div class="why-vr" id="whyvr">
  <div class="container">
    <h2>Why VR</h2>
    <div class="row">
      <div class="col col-sm-5">
        <img src="assets/images/service.jpg" class="img-fluid" alt="">
      </div>
      <div class="col col-sm-7">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>
<div class="project-section" id="projects">
  <div class="container">
    <h2>Listed Projects</h2>
    <div class="row">
      <div class="col-sm-4" *ngFor="let items of propertyList">
        <div class="property-box">
          <div class="image"><img src="assets/images/service.jpg" class="img-fluid" alt=""></div>
          <div class="details">
            <div class="location-developer">
              <div class="row">
                <div class="col">
                  <div class="location">
                    <h5>Lodha Splendora</h5>
                    <small>Thane West, Mumbai</small>
                  </div>
                </div>
                <div class="col text-right">
                  <h4>$ 54,000 L - $ 1.02 Cr</h4>
                  <div class="developer">
                    Lodha Group
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-12">
                <div class="information">
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                  <div class="row">
                    <div class="col">1BHK</div>
                    <div class="col">720Sqft</div>
                    <div class="col">54 L</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="possession">
                  Possession started from: OCT'19
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <div class="status">
                  16.4% / <small>62 month</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-section" id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="row">
      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.88653884112!2d77.49085499161531!3d12.95395998836994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1546159488511"
          width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <div class="address">
          <h4>Address</h4>
          <i class="fa fa-map-marker"></i> U 809 Sapath Hexa, Nr. SG highway, Gandhipur, Vijaywada. <br>
          <i class="fa fa-envelope"></i> inquire@vapp.com<br>
          <i class="fa fa-phone"></i> 9799998888
        </div>
        <div class="contact-form">
          <h4>Get in touch</h4>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-sm-6 form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-sm-12 form-group">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit Now">
        </div>
      </div>
    </div>
  </div>
</div>
