.property-box {
    border:1px solid #ededed;
    margin: 20px 0;
    .image {
        margin-bottom: 15px;
    }
    .details {
        padding:  0 15px 15px;
    }
    .location-developer {
        margin-bottom: 15px;
        h5 {
            font-size: 15px;
            font-weight: bold;
            margin: 0;
        }
        small {
            color: #777;
        }
        h4 {
            font-size: 14px;
            margin: 0;
        }
        .developer {
            color: #30caa0;
        }
    }
    .information {
        font-size: 13px;
        color: #999;
        margin-bottom: 15px;
        .row {
            padding-top: 6px;
            padding-bottom: 6px;
            border-top: 1px solid #efefef;
            &:last-child {
                border-bottom: 1px solid #efefef;
            }
        }
    }
    .status {
        font-size: 12px;
        color: #999;
        line-height: 1;
    }
    .possession {
        font-size: 11px;
        color: #222;
        line-height: 1;
        display: inline-block;
        background: #eee;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.project-section {
    padding: 80px 0;
    h2 {
        margin-bottom: 40px;
        font-size: 34px;
        font-weight: 700;
    }
    p {
        color: #888;
        line-height: 1.5;
        font-size: 15px;
    }
}